= form_with(model: group, url: url)do |f|
  - if group.errors.any?
    .chat-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .mytask-group-form__field
    .mytask-group-form__field--left
      = f.label :name, class: 'mytask-group-form__label'
    .mytask-group-form__field--right
      = f.text_field :name, class: 'mytask-group-form__input', placeholder: 'グループ名を入力してください'
    .mytask-group-form__field.clearfix
    .mytask-group-form__field--left
    .mytask-group-form__field--right
      = f.submit class: 'mytask-group-form__action-btn'
      - if local_assigns[:edit_flag].present?
        = link_to user_group_path(current_user, @group), method: :delete do
          .mytask-group-form__delete-btn
            削除

