.task-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name.nil? ? "名前なし" : @group.name
      %ul.main-header__left-box__task-list
        %li.main-header__left-box__task-list--total
          タスク数：
          = @tasks.count
          件
        %li.main-header__left-box__task-list--complete
          完了数：
          = @tasks_completed.count
          件
        %li.main-header__left-box__task-list--pending
          未完了数：
          = @tasks_pending.count
          件
        %li.main-header__left-box__task-list--warning
          期限間近：
          = @tasks_warning.count
          件
        %li.main-header__left-box__task-list--overdue
          期限切れ：
          = @tasks_overdue.count
          件
    - if @group.authority == false
      = link_to edit_group_path(@group.id) do
        .main-header__edit-btn Edit

  .task_create
    = link_to new_group_task_path(@group.id) do
      .task_create__add-btn AddTask

  .tasks
    - @tasks.each do |task|
      = link_to edit_group_task_path(@group.id, task.id) do
        .task{data: {task: {id: task.id}}}
          - if task.status == "normal"
            .taskcolor_normal
              = render 'task', { task: task }
          - elsif task.status == "complete"
            .taskcolor_complete
              = render 'task', { task: task }
          - elsif task.status == "warning"
            .taskcolor_warning
              = render 'task', { task: task }
          - elsif task.status == "overdue"
            .taskcolor_overdue
              = render 'task', { task: task }

  .form
    = render 'form', { groups: @groups, group: @group, task: @task, edit_flag: edit_flag }
