.task-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__task-list
        %li.main-header__left-box__task-list--total
          タスク数：
          = @tasks.count
          件
        %li.main-header__left-box__task-list--complete
          完了数：
          = @tasks_completed.count
          件
        %li.main-header__left-box__task-list--pending
          未完了数：
          = @tasks_pending.count
          件
        %li.main-header__left-box__task-list--warning
          期限間近：
          = @tasks_warning.count
          件
        %li.main-header__left-box__task-list--overdue
          期限切れ：
          = @tasks_overdue.count
          件
    - if @group.authority == false
      = link_to edit_group_path(@group.id) do
        .main-header__edit-btn Edit

  .tasks
    = render 'tasks', { tasks: @tasks }

  .form
    = form_with(model: [@group, @task], url: group_tasks_path(@group.id), method: "POST", local: true) do |f| 
      - colspanlength = "6"
      %table
        %tbody
          %tr
            %td.field__label
              %label タイトル：
            %td{colspan: colspanlength}
              = f.text_field :title, class: 'field__text--title', placeholder: "type a title", value: @task.title 
          %tr
            %td.field__label
              %label 内容：
            %td{colspan: colspanlength}
              = f.text_field :description, class: 'field__text--description', placeholder: "type a description", value: @task.description 
          %tr
            %td.field__label
              %label 場所：
            %td{colspan: colspanlength}
              = f.text_field :place, class: 'field__text--place', placeholder: "type a place", value: @task.place 
          %tr
            %th.field__title--completed 完了
            %th.field__title--priority_id 重要度
            %th.field__title--target_dt 期限日
            %th.field__title--target_tm 期限時刻
            %th.field__title--warning_st_days 警告
            %th.field__title--tasklist タスクリスト
            %th.field__title--completed_at 完了日
          %tr
            %td
              = f.check_box :completed, class: 'field__text--completed', value: @task.completed
            %td
              = f.select :priority_id, [["--", 0],["重要度1", 1],["重要度2", 2],["重要度3", 3]], {selected: @task.priority_id}, { id: "priority_id", class: 'field__combo--tasklist' } 
            %td
              = f.date_field :target_dt, class: 'field__text--target_dt', value: @task.target_dt 
            %td
              = f.time_select :target_tm, {include_blank: true}, {class: 'field__text--target_tm', value: @task.target_tm } 
            %td
              = f.number_field :warning_st_days, min: 1, max: 31, class: 'field__text--warning_st_days', value: @task.warning_st_days
              日前 
            %td
              = f.select :group_id, @groups.map { |gourp| [gourp.name, gourp.id] }, {selected: @group.id}, { id: "group_id", class: 'field__combo--tasklist' } 
            %td.field__text--completed_at
              = @task.completed_at
      = f.submit class: 'submit-btn', id: 'new_task', name: "commit", value: "Save" 
