.task-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__task-list
        %li.main-header__left-box__task-list--total
          タスク数：
          = @tasks.count
          件
        %li.main-header__left-box__task-list--complete
          完了数：
          = @tasks_completed.count
          件
        %li.main-header__left-box__task-list--pending
          未完了数：
          = @tasks_pending.count
          件
        %li.main-header__left-box__task-list--warning
          期限間近：
          = @tasks_warning.count
          件
        %li.main-header__left-box__task-list--overdue
          期限切れ：
          = @tasks_overdue.count
          件
    - if @group.authority == false
      = link_to edit_group_path(@group.id) do
        .main-header__edit-btn Edit

  .tasks
    - @tasks.each do |task|
      .task{data: {task: {id: task.id}}}
        .task--normal
          .task__upper-info
            %p.task__upper-info__talker
              = task.title
            %p.task__upper-info__date
              = I18n.l(task.created_at)
          .task__lower-info
            %p.task__lower-info__target
              期限日：
              = I18n.l(task.target_dt)
              = I18n.l(task.target_tm, format: :tiny)
            %p.task__lower-info__complete
              完了日： 
              - if task.completed.present?
                = I18n.l(task.complete_at)
              - else
                未達

  .form
    .form__task-name
      ヘッドホンを見に行く。
    %form{target: "#"}
      .field
        %table
          %tr
            %th.field__title--completed 完了
            %th.field__title--priority_id 重要度
            %th.field__title--description タスクの内容
            %th.field__title 場所
            %th.field__title 期限日
            %th.field__title 期限時刻
            %th.field__title--warning_st_days 警告
            %th.field__title タスクリスト
            %th.field__title 完了日
          %tr
            %td
              %input.field__text--completed{value: "", name: "task[completed]", type: "checkbox"}/
            %td
              %select.field__text--priority_id{name: "priority_id"}
                %option{value: "0"} --
                %option{selected: "selected", value: "1"} 重要度1
                %option{value: "2"} 重要度2
                %option{value: "3"} 重要度3
            %td
              %input.field__text--description{value: "お店で視聴しながら決める。", name: "task[description]", placeholder: "type a description", type: "textarea"}
            %td
              %input.field__text{value: "秋葉原", name: "task[place]", placeholder: "type a place", type: "text"}
            %td
              %input.field__text{value: "2020-01-26", name: "task[target_dt]", type: "date"}
            %td
              %input.field__text{value: "16:00", name: "task[target_dt]", type: "time"}
            %td
              %input.field__text--warning_st_days{value: "7", name: "task[warning_st_days]", type: "number"}日前
            %td
              %select.field__text--group_id{name: "group_id"}
                %option{selected: "selected", value: "1"} リマインダー
                %option{value: "2"} sample1
                %option{value: "3"} sample2
                %option{value: "4"} sample3
            %td
              %label.field__label 未達 
      %input.submit-btn{name: "commit", type: "submit", value: "Save"}
