.task-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-task
          = link_to new_group_path(current_user) do
            = icon('fas', 'edit')
        %li.side-header__box__menu__edit-user
          = link_to edit_user_registration_path(current_user) do
            = icon('fas', 'cog')
        %li.side-header__box__menu__logout
          = link_to destroy_user_session_path, method: :delete do
            = icon('fas', 'sign-out-alt')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_tasks_path(group) do
          .group__task-name
            = group.name
          .group__length
            タスク総数：
            = group.tasks.count
            件
          .group__completed
            - if group.judge_task_completed
              .group__completed--length
                タスク完了数：
                = group.show_task_completed_count
                件
              .group__completed--latest
                最新完了日：
                = group.show_task_completed_latest_dt
            - else
              完了タスクはありません。

