.task-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        USER NAME
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-task
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-header__box__menu__edit-user
          = link_to "#" do
            = icon('fas', 'cog')
  .groups
    = link_to "#" do
      .task
        %p.task__task-name リマインダー
        %p.task__length 3件
        %p.task__latest-complete 2020/01/08 10:10
    = link_to "#" do
      .task
        %p.task__task-name sample1
        %p.task__length 4件
        %p.task__latest-complete なし
    = link_to "#" do
      .task
        %p.task__task-name sample2
        %p.task__length 0件
        %p.task__latest-complete なし
    = link_to "#" do
      .task
        %p.task__task-name sample3
        %p.task__length 0件
        %p.task__latest-complete なし
    = link_to "#" do
      .task
        %p.task__task-name sample4
        %p.task__length 0件
        %p.task__latest-complete なし
    = link_to "#" do
      .task
        %p.task__task-name sample5
        %p.task__length 0件
        %p.task__latest-complete なし
    = link_to "#" do
      .task
        %p.task__task-name sample6
        %p.task__length 0件
        %p.task__latest-complete なし
    = link_to "#" do
      .task
        %p.task__task-name sample7
        %p.task__length 0件
        %p.task__latest-complete なし
    = link_to "#" do
      .task
        %p.task__task-name sample8
        %p.task__length 0件
        %p.task__latest-complete なし


