.task-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-task
          = link_to new_group_path(current_user) do
            = icon('fas', 'edit')
        %li.side-header__box__menu__edit-user
          = link_to edit_user_registration_path(current_user) do
            = icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_task_path(group) do
          .group__task-name
            = group.name
          .group__length タスク総数：
            = group.task.length "件"
          .group__complete--length タスク完了数：
            = group.task.coupletelength "件"
          .group__complete--latest 最新完了日：
            = group.task.latest_complete_dt

